.home {
    padding-left: 15px;
    padding-right: 30px;
       
}

.salas {
    padding-right: 30px;
}
.alunos {
    padding-right: 30px;

}

.imagem-puc {
    margin-top: 50px;
}

.navbar-nav {
    
}
